// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";
.mt-4 {
  margin-top: 1.5rem;
}
.flat-form {
  background-color: #F8F9FA;
  padding: 24px;
  border-radius: 3px;
}
